  <ion-header [translucent]="true">
    <ion-toolbar translucent color="primary">
      <ion-buttons slot="start">
        <ion-menu-button autohide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <h2>Produtos em Promoção</h2>
    <ion-slides pager="true" [options]="slideOpts" >
      <ion-slide *ngFor="let product of productPromotion">
        <ion-card [routerLink]="['/view-products', product.id]">
          <img [src]="product.imgUrl" style="max-width: 150px; max-height: 150px;" />
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>{{product.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            R$ {{product.price}}
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-fab vertical= "bottom" horizontal= "end" slot= "fixed">
      <ion-fab-button (click)= "sair()" color= "success">
        <ion-icon name= "exit-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
  </ion-content>


